# example.pcf
set_io --warn-no-port LED[0] 99
set_io --warn-no-port LED[1] 98
set_io --warn-no-port LED[2] 97
set_io --warn-no-port LED[3] 96
set_io --warn-no-port LED[4] 95

set_io --warn-no-port clk 21

set_io --warn-no-port ws_data 78
